@page
@model BugNet.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <h1>Welcome Morteza</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Desc.</td>
                <td>Is Done</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BugList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.IsDone</td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

</body>
</html>

